body {
/*    zoom: 3; 
    -moz-transform: scale(3); 
    -moz-transform-origin: 0 0;*/
}

@-ms-viewport{
  width: device-width;
  zoom: auto;
}

#hotline-wrapper{
  height: 60px; 
  background-color: #fee2af;
  font-family: 'Averta-reg';
}

#logo01 {
  max-height: 100px;
  max-width: 125px;
}

div #Email {
  margin-right: 20px;
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ddd4dc;
  height: 80px;
  z-index: 10;
}

.nav-link{
  font-family: 'Averta';

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}

.icon-facebook {
  width: 12%;

}

.icon-instagram {
  width: 12%;

}

.icon-youtube {
  width: 12%;
}

.social-media {
  padding-left: 4%;
}

#hotline {
  white-space: nowrap;
  overflow: auto;
}
/*
.topnav {
  overflow: hidden;
  background-color: white;
  height: 60px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Averta';
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}*/



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {see
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.logo {
  max-height: 100px;
  max-width: 125px;
  margin-right: 20px;
}

.ss1 {
  padding-top: 100px;
  font-family: 'love-of-thunder';
  font-weight: bold;
}



.card-img {
    width: 100%;
}

.card-img img{
  padding-top: 5%;
  padding-left: 10%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hl-product-card {
  width: 15%;
  padding: 20px;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 2%;
  box-shadow: 8px 16px 16px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: left;
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
  height: 100%;
  position: relative;
  flex-wrap: wrap;

}

.hl-card-img img {
/*  position: relative;
  float: left;*/
  padding-top: 5%;
  padding-left: 10%;
  width: 100%;
  height: 100%;
  object-fit: contain;
/*  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
*/  }

.hl-card-img {
  width: 100%;
  height: 100%;
}

.hl-product-card-content {
  font-family: 'Averta';
  margin-top: 5%;
}

.hl-product-card-content .intro {
  font-family: 'Averta-light';
}


.ss2 {
  font-family: 'love-of-thunder';
  position: relative;
  text-align: center;background-image: url(../img/nen-ss02.png); 
  background-repeat: no-repeat; 
  background-size:cover;
  height: 1080px;
  max-width: 100%;
  margin: 0 0 10% 0;
}

.ss2 p {
  font-family: 'Averta-reg';
  font-size: 1.1vw;
}

.ss2-icon {
  position: absolute;
  top: 40%;
  left: 10%;
  padding-right: 10%; 
  font-size: 2.6vw;

}

.ss2-icon img {
  width: 60%;
}

.ss3{
  padding-top: 1%;
  padding-bottom: 5%;
  font-family: 'love-of-thunder';
  font-weight: bold;
  font-size: 2.8vw;
}

.ss3-text {
  font-family: 'Averta-reg'
}

.ss3-hltext {
  font-family: 'Averta-extra';
  color: #ef4c24;
}

.ss3 img {
  max-height: 60%; 
  max-width: 60%;
}

.ss3-main-img img {
  max-width: 100%; 
  max-height: 100%;
}

.delivery-step-text {
  font-family: 'Averta-extra';
  font-size: 1.2vw;
  padding-left: 8%;
}


.delivery-step-text-des {
  font-family: 'Averta-reg';
  font-size: 1vw;
  padding-left: 7%;
}

.ss4 {
  font-family: 'love-of-thunder';
  background-image: url(../img/nenss05.png); 
  background-repeat: no-repeat; 
  background-size:cover;
  height: 900px;
  max-width: 100%; 
}

.ss4 .title {
  padding-top: 15%;
  padding-left: 20%;
  font-size: 3rem;
  font-family: 'love-of-thunder';
}

.ss4 p {
    padding-left: 20%;
    padding-right: 55%;
    font-family: 'Averta-reg';
}

.ss5 {
  font-family: 'love-of-thunder';
  padding-bottom: 3%;
  margin-bottom: 5%;
  font-weight: bold;
}


.centered {
  position: absolute;
  bottom: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6vw;
}

.under-centered {
  position: absolute;
  bottom: 70%;
  left: 50%;
  color: #ef4c24;
  transform: translate(-50%, -50%);
  font-size: 2.6vw;
}


.column {
  float: left;
  width: 19%;
  padding: 50px 15px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: left;
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
  margin: 1% 5% 1% 0;
}

.review-card {
  background-image: url('../img/rv-bg.png');
  background-size: 90% 100%;
  background-repeat: no-repeat;
  height: 300px;
  margin:3% 2% 0 0;

}

.review-card-content {
  padding-top: 25%;
  padding-left: 3%;
  width: 80%;
  font-family: 'Averta-reg';
}

.review-card-signature {
  padding-right: 15%;
  float: right;
  font-family: 'Averta-semi';
  color: #ef4c24;
}
.delivery-title {
    padding-left: 11.5%;
}

/*Responsive configuration*/
@media screen and (min-width:0px) and (max-width: 480px){
  h1 {
    font-size: 6vw;
  }

  #Email {
    float: left;
    font-size: 3vw;
  }

  #hotline {
    margin-left: 5%;
  float: right;
  font-size: 3vw;
}

.hl-product-card {
  width: 100%;
  margin-right: 5%;
  height: 80%;
}

.hl-product-card-content {
  font-size: 2.8vw;
}

.hl-product-card-content .intro {
  font-size: 2.8vw;
}

.hl-product-card img{
  padding-top: 5%;
  padding-left: 15%;
  width: 200px;
  height: 200px;
}
.centered {
  font-size: 4vw;
}

.under-centered {

  font-size: 4vw;
}
  .ss2-icon img {
    width: 15%;
}
.ss2 p {
  font-size: 2.4vw;
}
 .ss3 img {
   max-height: 70%; 
   max-width: 70%;
   padding-left: 30%;
 }
.ss3-main-img img {
  max-height: 100%; 
  max-width: 100%;
  padding-right: 10%;
}

.ss4 .title {
  padding-top: 100%;
  padding-left: 10%;
  font-size: 4vw;
}

.ss4 p {
    padding-left: 10%;
    padding-right: 55%;
    font-size: 2.5vw;
  }


.delivery-step-text {
  padding-left: 40%; 
  font-size: 2.8vw;
}

.delivery-step-text-des {
  font-size: 2.8vw;
  padding-left: 40%;
}

  .review-card-content {
    padding-top: 40%;
    font-size: 2.8vw;
  }
}

@media screen and (min-width:480px) and (max-width: 768px){
    h1 {
    font-size: 6vw;
  }

.hl-product-card {
  width: 100%;
  margin-right: 5%;
  height: 80%;
}

.hl-product-card-content {
  font-size: 2.8vw;
}

.hl-product-card-content .intro {
  font-size: 2.8vw;
}

.hl-product-card img{
  padding-top: 5%;
  padding-left: 15%;
  width: 200px;
  height: 200px;
}

 .ss3 img {
   max-height: 60%; 
   max-width: 60%;
   padding-left: 30%;
 }
.ss3-main-img img {
  max-height: 100%; 
  max-width: 100%;
  padding-right: 10%;
}

.ss4 .title {
  padding-top: 30%;
  padding-left: 20%;
  font-size: 3vw;
}

.ss4 p {
    padding-left: 20%;
    padding-right: 55%;
    font-size: 2vw;
  }

.delivery-step-text {
  padding-left: 40%; 
  font-size: 2.4vw;
}

.delivery-step-text-des {
  font-size: 2.4vw;
  padding-left: 40%;
}
    .review-card-content {
    padding-top: 20%;
    font-size: 2vw;
  }
}




@media screen and (min-width:768px) and (max-width: 1024px){
    h1 {
    font-size: 4vw;
  }
  .hl-product-card{
      width: 100%;
      margin-right: 5%;
      height: 100%;
  }

  .hl-product-card-content {
  margin-top: 5%;
  font-size: 2.8vw;
}

.hl-product-card img{
  width: 50%;
  height: 100%;
}

  .icon-facebook {
  width: 25%;

}

.icon-instagram {
  width: 25%;

}

.icon-youtube {
  width: 25%;
}
  .ss2-icon img {
    width: 60%;
}

  .ss2 p {
    font-size: 0.9rem;
}

 .ss3 img {
   max-height: 100%; 
   max-width: 100%;
 }
.ss3-main-img img {
  height: 100%; 
  width: 100%;
}

.delivery-step-text {
  padding-left: 40%; 
  font-size: 1.5vw;
}

.delivery-step-text-des {
  font-size: 0.8rem;
  padding-left: 40%;
}

.delivery-title {
    padding-left:15px;
}
  .review-card-content {
    padding-top: 45%;
    font-size: 1.2vw;
  }


}

@media screen and (min-width:1024px) and (max-width: 1366px){
.ss4 .title {
  padding-top: 20%;
  padding-left: 20%;
  font-size: 2rem;
  font-family: 'love-of-thunder';
}
.ss4 p {
    font-size:1.1rem;
}

  .hl-product-card{
      width: 100%;
      margin-right: 5%;
      height: 100%;
  }

  .hl-product-card-content {
  margin-top: 5%;
  font-size: 2.8vw;
  line-height:32px;
}

.hl-product-card img{
  width: 50%;
  height: 100%;
}

  .icon-facebook {
  width: 25%;

}

.icon-instagram {
  width: 25%;

}

.icon-youtube {
  width: 25%;
}
  .ss2-icon img {
    width: 60%;
}

 .ss3 img {
   max-height: 100%; 
   max-width: 100%;
 }
.ss3-main-img img {
  max-height: 100%; 
  max-width: 100%;
}

.delivery-step-text {
  padding-left: 40%; 
  font-size: 1.5vw;
}

.delivery-step-text-des {
  font-size: 1.5vw;
  padding-left: 40%;
}
  .review-card-content {
    padding-top: 45%;
    font-size: 1.2vw;
  }
}   

/*End Responsive configuration*/

.card-title {
  font-family: 'Averta';
  font-size: 15px;
}


.card-text {
  font-family: 'Averta-light';
}

.card a{
  color: #ef4c24;
}

.card a p {
  text-align: right;
  font-family: 'Averta-semi';
}


.card-footer{
  text-align: right;
  color: #ef4c24;
  font-family: 'Averta-semi';
}

footer h3 {
  font-family: 'Averta-extra';
  font-size: 24px;
}

footer p {
  color: black;
  font-family: 'Averta-reg';
}


/*Product Page Css*/

.product-title{
  font-family: 'love-of-thunder';
  margin: 2%;
}

.product-page-banner {
  background-image: url('../img/product-page-banner.png');
  width: 100%;
  height: 300px;
}

.row-product {  
  display: flex;
  flex-wrap: wrap;
}

.row-product p {
  font-family: 'Averta-reg';
  font-weight: bolder;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 1%;
  background-color: #ffe2af;
  padding: 20px 0 0 50px;
  margin-left: 10%;
  margin-top: 3%;
}

/* Main column */
.main {
  display:flex;
  flex-wrap:wrap;
  flex: 45%;
  margin-left: 3%;
  margin-right: 10%;
  background-color: white;
  padding: 20px;

}

.row-product-title {
  color: #ef4c24;
  font-family: 'Averta-extra';
  font-size: 1.1vw;
}

.product-card {
  width: 25%;
  padding: 20px;
  margin-right: 5%;
  margin-top: 2%;
  box-shadow: 8px 16px 16px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: left;
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;

}

.product-card img {
  position: relative;
  padding-top: 5%;
  padding-left: 8%;
  width: 100%;
  height: 100%;
/*  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
*/  }



.product-card-content {
  font-family: 'Averta';
  margin-top: 5%;
/* */
}

.pname {
  height: 50px;
}

  .pname p{
  font-size: 1.1vw;
}

.hl-pname {
  height: 50px;
}

  .hl-pname p{
  font-size: 1.1vw;
}

.intro {
  margin-top: 10%;
}
/*.intro:hover {*/
/*  height: 200px;*/
/*}*/

.intro p{
  font-family: 'Averta-light';
            overflow: hidden; 
            text-overflow: ellipsis; 
            display: -webkit-box; 
            line-height: 16px;  
            max-height: 32px;      
              
            /* The number of lines to be displayed */ 
            -webkit-line-clamp: 2;  
            -webkit-box-orient: vertical; 
}

/*.intro p:hover{*/
/*  font-family: 'Averta-light';*/
/*  overflow: visible; */
/*  text-overflow: ellipsis; */
/*  display: -webkit-box; */
/*  line-height: 16px;  */
/*  max-height: 32px;      */
/*}*/

.product-weight {
  font-family: 'Averta-light';
  font-size: 1vw;
}

.see-more {
  background-color: #ef4c24;
  color: white;
  height: 25px;
  width: 80%;
  float: right;
  text-align: center;
  font-family: 'Averta-light';
}

.hl-see-more {
  color: #ef4c24;
  height: 25px;
  width: 50%;
  float: right;
  text-align: center;
  font-family: 'Averta-light';
}

.hl-see-more a{
  color: #ef4c24;

}



.product-detail-row {
  margin-top: 5%;
}

.product-detail{
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
  height: 400px;
  background-color: #fee2af;
}

.product-detail img {
  padding-top: 10%;
  padding-left: 15%;
  max-width: 90%;
  max-height: 100%;
}

.product-description{
  margin-left: 2%;
  font-family: 'love-of-thunder';
}

.product-description p{
  font-family: 'Averta-light';
  font-size: 1vw;
  padding-bottom: 5%;
}

.description-content{
  margin-top: 10%;
}

.price-button {
  background-color: #ef4c24;
  margin-top: 2%;
  height: 35px;
  width: 45%;
  float: left;
  text-align: center;
  font-family: 'Averta-semi';
  font-size: 1.3vw;
}

.price-button a{
  color: white;
}

.see-more a{
  color: white;
}

.rl-see-more a{
    color: white;
}

.related-product {
  margin-left: 5%;
  margin-top: 5%;
}

.related-product h1 {
    font-family: 'love-of-thunder';
}

.related-product-cards {
  margin-left: 10%;
  margin-right: 5%;
}

.product-card2 {
  width: 20%;
  padding: 20px;
  margin-left: 3%;
  margin-top: 2%;
  box-shadow: 8px 16px 16px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: left;
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
  height: auto;
}

.product-card2 img {
  position: relative;
 /* float: left;*/
  padding-top: 5%;
  padding-left: 15%;
  width: 100%;
  height: 50%;
/*  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
*/  }

.product-card2-content{
    font-family: 'Averta';
    margin-top: 5%;
}

/*Responsive configuration 1 */

@media screen and (min-width:0px) and (max-width: 480px){
  .side {
    width: 70%;
  }
  .see-more {
  width: 100%;
}
  .hl-see-more{
  font-size: 5vw;
}
  .row-product {
    flex-direction: column;
  }
  .product-card{
    margin-left: 10%;
    width: 100%;
    height: 25%;  
  }


.card-img img{
  width: 70%;
}
  .product-card2{
    width: 100%;
    flex-direction: column;
  }

  .product-description p {
    font-size: 3.2vw;
  }

  .product-description h1{
    margin-top: 5%;
    font-size: 8vw;
  }
.row-product-title{
  font-size: 3.3vw;
}

.product-weight {
  font-family: 'Averta-light';
  font-size: 2.8vw;
}
  .pname p{
  font-size: 1.2rem;
}

  .hl-pname p{
  font-size: 4vw;
}

  .related-product h1{
    font-size: 8vw;
    padding: 2% 0 2% 7%;
  }

  .price-button {
    height: 20px;
  }
  .price-button a {
    font-size: 3.2vw;
  }


}

@media screen and (min-width:480px) and (max-width: 768px){
    .side {
    width: 70%;
  }
    .see-more {
  width: 100%;
}

  .hl-see-more{
  font-size: 4vw;
}
  .row-product {
    flex-direction: column;
  }
  .product-card{
    width: 60%;
    height: 33%;  
  }

    .product-card2{
    width: 80%;
    flex-direction: column;
  }

    .product-description p {
    font-size: 3.2vw;
  }
.row-product-title{
  font-size: 3vw;
}

    .pname p{
  font-size: 2.8vw;
}

  .hl-pname p{
  font-size: 3vw;
}


.product-weight {
  font-family: 'Averta-light';
  font-size: 2.8vw;
}

    .product-description h1{
    margin-top: 5%;
    font-size: 8vw;
  }

  .related-product h1{
    font-size: 8vw;
    padding: 2% 0 2% 7%;
  }

    .price-button {
    height: 20px;
  }
  .price-button a {
    font-size: 3.2vw;
  }
}

@media screen and (min-width:768px) and (max-width: 1024px){
    .side {
     width: 70%;
  }
  .see-more {
  width: 100%;
}

  .hl-see-more{
  font-size: 3vw;
}
  .row-product {
    flex-direction: column;
  }
  .product-card{
    width: 60%;
    height: 33%;  
  }

  .product-card img{
    margin-left: 10%;
    width: 70%;
    height: 100%;  
  }

    .product-card2{
    width: 60%;
    flex-direction: column;
  }

    .product-description p {
    font-size: 3vw;
  }
.row-product-title{
  font-size: 2.8vw;
}
    .product-description h1{
    margin-top: 5%;
    font-size: 8vw;
  }
    .pname p{
  font-size: 2.5vw;
}


  .hl-pname p{
  font-size: 4vw;
}

.product-weight {
  font-family: 'Averta-light';
  font-size: 2.4vw;
}

  .related-product h1{
    font-size: 8vw;
    padding: 2% 0 2% 7%;
  }

  .price-button a {
    font-size: 3.2vw;
  }
}

@media screen and (min-width:1024px) and (max-width: 1366px){
  .centerd{
    font-size: 2vw;
  }
  
      .pname p{
  font-size: 1.1vw;
}

  .hl-pname p{
  font-size: 4vw;
}

.intro p{
  font-family: 'Averta-light';
            overflow: hidden; 
            text-overflow: ellipsis; 
            display: -webkit-box; 
            line-height: 16px;  
            max-height: 40px;      
              
             The number of lines to be displayed 
            -webkit-line-clamp: 2;  
            -webkit-box-orient: vertical; 
}

}

/*End responsive configuration 1*/


/*End product page*/

.contact-bold-text {
  font-family: 'Averta';
  font-size: 14pt;
}

.contact-regular-text {
  font-family: 'Averta-reg';
  font-size: 12pt;
}


/*News page*/

.news-page-banner {
  background-image: url('../img/news-page-banner.png');
  width: 100%;
  height: 300px;
}

/*End news page*/


/*Contact-page*/
.contact-page-banner{
  background-image: url('../img/contact-page-banner.png');
  width: 100%;
  height: 300px;
}


.contact-title {
  font-family: 'love-of-thunder';
  margin-top: 20%;
}

.contact-info {
  margin-top: 20%;
  margin-bottom: 30%;
}

.contact-form{
    margin-top: 20%;
}


.contact-session{
  margin-bottom: 10%;
}

.contact-card {
  margin-left: 5%;
  margin-top: 10%;
  height: 90%;
  max-width: 100%;
  border:none;

}

.contact-card-header{
  background-color: #ef4c24;
  font-family: 'Averta-extra';
  max-width: 100%;
  height: 15%;
  color: white;
  font-size: 15.43pt;
}

.contact-input {
  border-style:none; 
  border-bottom: 1px solid; 
  width: 95%;
  margin-top: 8%;
}

/*END CONTACT PAGE*/

/*About us*/
.about-us-banner {
  background-image: url('../img/about-us-banner.png');
  width: 100%;
  height: 300px;
}

.about-us-title{
  margin-top: 3%;
  font-family: 'love-of-thunder';
  font-size: 2vw;
}

.about-us-img {
  height: 50%;
  margin-left: 25%;
  margin-top: 2%;
}

.about-us-content{
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 10%;
  width: 100%;
  font-family: 'Averta-reg';
  font-size: 1vw;
}
/*End about us*/

/*Factory*/
.factory-banner {
  background-image: url('../img/factory-banner.png');
  height: 300px;
}

.factory-title {
  font-size: 2.5vw;
  font-family: 'love-of-thunder';
  margin: 7% 0 7% 0;
}

.factory-intro {
  margin: 0 0 5% 0;
  overflow: auto;
}

.factory-intro-content {
  font-family: 'Averta-reg';
  font-size: 1vw;
  margin: 0 0 5% 0;
}

.factory-intro2 {
  margin: 0 0 5% 0;
}

.factory-intro2 p {
  padding-top: 52%;
  display: inline-block;
  font-family: 'Averta-reg';
  font-size: 1vw;
}

.factory-process-title {
  font-size: 2.5vw;
  font-family: 'love-of-thunder';
  margin: 12% 0 3% 0;
}

.working-process-step {
  font-family: 'love-of-thunder';
  color: #ef4c24;
  vertical-align: top;
  font-size: 5vw;
}

/*End factory*/
.policy {
  margin: 5% 0 5% 0;
}

/*Policy page*/
.policy-title {
  font-family: 'love-of-thunder';
  font-size: 2.5vw;
}

.policy-title-row {
  margin: 0 0 2% 0;
}

.policy-content-row1 {
  margin: 0 0 2% 0;
}

.policy-img1 {
  margin: 0 0 2% 0;
}

.policy-img1 img {
  width: 100%;
}

.policy-1{
  margin: 0 0 2% 0;
  padding: 1% 0 1% 0;
}

.policy-1 h5{
  font-weight: bold;
}

.policy-2{
  margin: 0 0 2% 0;
  padding: 1% 0 1% 0;
}

.policy-2 h5{
  font-weight: bold;
}

.policy-img2 img{
  width: 100%;
}

.policy-3{
  margin: 0 0 2% 0;
  padding: 1% 0 1% 0;
}

.policy-3 h5{
  font-weight: bold;
}
.policy-4{
  margin: 0 0 2% 0;
  padding: 1% 0 1% 0;
}

.policy-4 h5{
  font-weight: bold;
}

/*End policy page*/

/*Responsive configuration 2*/

@media screen and (min-width:0px) and (max-width: 480px){

  /*Contact page responsive*/
  .contact-card-header{
    height: 40%;
    font-size: 2.6vw;
  }

  .contact-input {
    border-style:none; 
    border-bottom: 1px solid; 
    width: 95%;
    margin-top: 2%;
  }
  /*Contact page responsive*/

  /*about-us page responsive*/
    .about-us-title {
    font-size: 4vw;
    text-align: center;
  }

  .about-us-content {
    font-size: 2.6vw;
    margin-top: 5%;
  }

    /*about-us page responsive*/

  /*factory page responsive*/
.factory-title {
  font-size: 4.8vw;
}

.factory-intro2 p {
  padding-top: 5%;
  display: inline-block;
  font-family: 'Averta-reg';
  font-size: 2.8vw;
}

.factory-intro-content {
  font-family: 'Averta-reg';
  font-size: 3.5vw;
  margin: 0 0 5% 0;
}

.factory-process-title {
  font-size: 4.8vw;

}
  /*factory page responsive*/
.policy-title {
  font-size: 4vw;

}

}

@media screen and (min-width:480px) and (max-width: 768px){
    /*Contact page responsive*/
.contact-title {
  font-size: 2vw;
}

  .contact-card-header{
    height: 40%;
    font-size: 2.6vw;
  }
  /*Contact page responsive*/

    /*about-us page responsive*/
    .about-us-title {
    font-size: 1.8vw;
    text-align: center;
  }

  .about-us-content {
    font-size: 2.3vw;
  }
    /*about-us page responsive*/

      /*factory page responsive*/
.factory-title {
  font-size: 4.5vw;
}

.factory-intro2 p {
  padding-top: 5%;
  display: inline-block;
  font-family: 'Averta-reg';
  font-size: 2.5vw;
}

.factory-intro-content {
  font-family: 'Averta-reg';
  font-size: 2.5vw;
  margin: 0 0 5% 0;
}

.factory-process-title {
  font-size: 4.5vw;
}
  /*factory page responsive*/
  .policy-title {
  font-size: 4vw;
}
}

@media screen and (min-width:768px) and (max-width: 1024px){
    /*Contact page responsive*/
    .contact-title {
  font-size: 4vw;
}

  .contact-card-header{
    height: 40%;
    font-size: 2vw;
  }
    /*Contact page responsive*/

      /*about-us page responsive*/
    .about-us-title {
    font-size: 2vw;
    text-align: center;
  }

    .about-us-content {
    font-size: 2.0vw;
  }
    /*about-us page responsive*/

      /*factory page responsive*/

.factory-title {
  font-size: 4vw;
}

.factory-intro2 p {
  padding-top: 5%;
  display: inline-block;
  font-family: 'Averta-reg';
  font-size: 2.1vw;
}

.factory-intro-content {
  font-family: 'Averta-reg';
  font-size: 2.1vw;
  margin: 0 0 5% 0;
}

.factory-process-title {
  font-size: 4vw;
}

.policy-title {
  font-size: 4vw;

}
  /*factory page responsive*/
}

@media screen and (min-width:1024px) and (max-width: 1366px){
    /*Contact page responsive*/
    .contact-title {
  font-size: 4vw;
}

  .contact-card-header{
    height: 40%;
    font-size: 2vw;
  }
    /*Contact page responsive*/

      /*about-us page responsive*/
    .about-us-title {
    font-size: 2vw;
    text-align: center;
  }

    .about-us-content {
    font-size: 2.0vw;
  }
    /*about-us page responsive*/

      /*factory page responsive*/

.factory-title {
  font-size: 4vw;
}

.factory-intro2 p {
  padding-top: 5%;
  display: block;
  font-family: 'Averta-reg';
  font-size: 2.1vw;
}

.factory-intro-content {
  font-family: 'Averta-reg';
  font-size: 2.1vw;
  margin: 0 0 5% 0;
}

.factory-process-title {
  font-size: 4vw;
}
  /*factory page responsive*/
}


/*End responsive configuration 2*/

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/*Font-families*/

@font-face {
  font-family: love-of-thunder;
  src: url(../fonts/SVN-SVN-A-Love-Of-Thunder.ttf);
}

@font-face {
  font-family: Averta;
  src: url(../fonts/AvertaStdCY-Bold_1.otf);
  font-weight: bold;
}

@font-face {
  font-family: Averta-extra;
  src: url(../fonts/AvertaStdCY-Extrabold_1.otf);
}

@font-face{
  font-family: Averta-reg;
  src:url(../fonts/AvertaStdCY-Regular_3.otf);
  font-weight: normal;
}

@font-face{
  font-family: Averta-light;
  src:url(../fonts/AvertaStdCY-Light_1.otf);
  font-weight: lighter;
}

@font-face{
  font-family: Averta-semi;
  src:url(../fonts/AvertaStdCY-Semibold_1.otf);
}

::-webkit-input-placeholder {
   font-style: italic;
   font-family: 'Averta-semi';
}
:-moz-placeholder {
   font-style: italic;
   font-family: 'Averta-semi';
}
::-moz-placeholder {
   font-style: italic;
   font-family: 'Averta-semi';  
}
:-ms-input-placeholder {  
   font-style: italic;
   font-family: 'Averta-semi';
}